  .traffic-light {
    width: 120px;
    height: auto;
    padding: 5px 5px 5px 5px;
    background-color:black;
    border: black;
    display: inline-block;
  }

  .red-light {
    height: 60px;
    width: 60px;
    background: red;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 50%;
  }

  .yellow-light {
    height: 60px;
    width: 60px;
    background-color: yellow;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 50%;
  }

  .green-light {
    height: 60px;
    width: 60px;
    background-color: green;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 50%;
  }

  .purple-light {
    height: 60px;
    width: 60px;
    background-color: purple;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 50%;
  }

  .selected {
    box-shadow:
    2px 4px 16px 0px rgba(0,255,255,0.7),
    2px 4px 16px 0px rgba(0,255,255,0.7),
    2px 4px 16px 0px rgba(0,255,255,0.7),
    2px 4px 16px 0px rgba(0,255,255,0.7);
  }